<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
<h2><a href="/VSC">Products</a></h2>	  
<h3 align="center">Smartphone Images</h3>
      Search: <input ng-model="query">
      Sorting:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
&nbsp;&nbsp;&nbsp;<hr />
<h2><a href="/VSC">Services</a></h2>
<h3 align="center">Consulting</h3>
<h3 align="center">Cloud Hosting</h3>
&nbsp;&nbsp;&nbsp;<hr />
<h2><a href="./partials/analytics/default.xqy" target="_self">Monitoring</a></h2>
    </div>
    <div class="span10">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp"
            class="thumbnail phone-listing">
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="http://localhost:8003/v1/documents?uri=/{{phone.imageUrl}}"></a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
